.row {
  background-color: rgb(72, 119, 60);
  border-radius: 50px;
  margin-top: 30px;
}
.figure-caption {
  color: rgb(22, 172, 152);
}

.card {
  background-color: aqua;
  border-radius: 40px;
  margin-top: 30px;
}
